<div class="form__sign">
    <div class="form__sign--title">
        <h2 class="text-center">Sign In</h2>
    </div>
    <div class="form__sign--body">
        <form>
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" id="'username" />
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" id="password" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">SIGN IN</button>
            </div>
        </form>
    </div>
    <div class="form__sign--footer">
        <a href="#" class="small text-muted">Forgot Password?</a>
        <p>Don't have an account? <a href="#">Register here</a></p>
    </div>
</div>
